<div class="curtain-wrapper">
  <div class="curtain left">
    {% for i in range(0, 12) -%}
    <div class="fold"></div>
    {%- endfor %}
  </div>
  <div class="curtain right">
    {% for i in range(0, 12) -%}
    <div class="fold"></div>
    {%- endfor %}
  </div>
</div>
<link rel="stylesheet" type="text/css" href="/curtain.css" />
<script>
  if (!window.maybeOpenCurtain) {
    window.maybeOpenCurtain = () => {
      const $body = document.querySelector("body");
      if (document.visibilityState === "visible") {
        $body.classList.add("open-curtain");
      }
    };
    setTimeout(function () {
      window.maybeOpenCurtain();
    }, 1000);
    document.addEventListener("visibilitychange", window.maybeOpenCurtain);
  }
</script>
