<div class="curtain-wrapper">
  <div class="curtain left">
    {% for i in range(0, 12) -%}
    <div class="fold"></div>
    {%- endfor %}
  </div>
  <div class="curtain right">
    {% for i in range(0, 12) -%}
    <div class="fold"></div>
    {%- endfor %}
  </div>
</div>
<link rel="stylesheet" type="text/css" href="/curtain.css" />
<script>
  const $body = document.querySelector("body");
  const maybeOpenCurtain = () => {
    if ($body.classList.contains("open-curtain")) return;
    if (document.visibilityState === "visible") {
      setTimeout(function () {
        $body.classList.add("open-curtain");
      }, 1000);
    }
  };
  maybeOpenCurtain();
  document.addEventListener("visibilitychange", maybeOpenCurtain);
</script>
