<div class="relative w-full py-12 px-12 bg-primary">
  <div class="text-center md:py-12">
    <h1 class="text-white text-center text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-display font-bold mb-6">
      Vous souhaitez nous rencontrer ?
    </h1>
    <p class="text-white text-base md:text-lg font-thin">
      Aucune réservation n'est obligatoire. Nous trouvons toujours de la place pour accueillir des nouvelles personnes.
    </p>
    <p>
      <a
        href="#contact"
        class="inline-block bg-white rounded-full text-primary uppercase text-sm tracking-widest font-heading px-8 py-4 mt-8"
      >
        Venir visiter
        <i class="fa fa-arrow-down"></i>
      </a>
    </p>
  </div>
</div>
