<nav class="h-24 z-[2000] relative container mx-auto px-6 grid grid-cols-3">
  <div x-data="{showMenu: false}" class="flex items-center">
    <button
      x-on:click="showMenu = true"
      class="fixed text-primary bg-white shadow top-0 right-0 mt-8 mr-6 rounded-full w-12 h-12 leading-none text-2xl"
    >
      <i class="fa-solid fa-bars" aria-hidden="true"></i>
      <span class="invisible absolute">Afficher le menu</span>
    </button>

    <div
      x-show="showMenu"
      x-transition.opacity.duration.500ms
      class="fixed inset-0 w-full h-full bg-white z-50 text-primary"
    >
      <div
        class="h-full mx-auto px-6 py-16 md:py-24 relative z-10 flex flex-col items-center justify-between text-2xl uppercase font-bold tracking-widest"
      >
        <button
          x-on:click="showMenu = false"
          class="absolute top-0 right-0 mt-8 mr-6 rounded-full w-12 h-12 leading-none text-2xl"
        >
          <i class="fa-solid fa-xmark" aria-hidden="true"></i>
          <span class="invisible absolute">Fermer le menu</span>
        </button>

        <img src="{{ global.logo }}" class="h-24 w-24 lg:h-48 lg:w-48 rounded-full object-contain object-center" />

        <ul class="text-center">
          {% for item in home.nav %}
          <li class="my-4">
            <a
              href="{{ item.url }}"
              class="inline-block border-b-4 border-transparent hover:border-primary"
              @click="showMenu = false"
              >{{ item.text }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="absolute inset-0 w-full h-full bg-white bg-opacity-20"></div>
    </div>
  </div>
</nav>

<div class="w-full h-24 bg-white absolute top-0 left-0"></div>
