<div id="services" class="relative w-full py-12 px-12 bg-gray-100">
  <div class="text-center">
    <h2 class="font-display font-bold text-3xl md:text-4xl lg:text-5xl mb-6">Services</h2>
    <div class="w-24 h-2 bg-primary mb-8 mx-auto"></div>
    <p class="font-display opacity-75 mb-16 text-base md:text-lg font-bold">
      Tout ce dont vous avez besoin et plus encore
    </p>
  </div>

  <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 content-center">
    {% for service in home.services %}
    <li class="flex justify-center">
      <div class="w-36 text-center border-2 rounded-lg p-4 bg-white">
        <div class="mb-4">
          <i class="fa-solid fa-{{service.icon}} text-4xl"></i>
        </div>
        <p>{{service.description}}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
