<section id="directions" class="py-12 px-6">
  <div class="text-center">
    <h2 class="font-display font-bold text-5xl mb-6">Où nous trouver</h2>
    <div class="w-24 h-2 bg-primary mb-8 mx-auto"></div>
    <p class="opacity-75 mb-8 text-base md:text-lg font-bold">Un espace idéalement situé, juste derrière la gare</p>
  </div>
  <div class="container mx-auto px-6 py-8">
    <div class="mx-auto flex justify-center">
      <div class="flex flex-col justify-center">
        <div>
          <div>
            <div class="mb-4">
              <i class="fa fa-location-dot mr-4" aria-hidden="true"></i>
              <a
                href="https://www.google.com/maps/place/{{ global.infos.address }} {{global.infos.zip}} {{global.infos.city}}"
                target="_blank"
                class="underline underline-offset-4"
              >
                {{ global.infos.address }}, {{global.infos.zip}} {{global.infos.city}}
              </a>
            </div>
            <div>
              <i class="fa fa-clock mr-4" aria-hidden="true"></i>
              {{ global.infos.opening_times }}
            </div>
          </div>
        </div>
        <div class="mt-12 prose">
          <p>Pour venir, il y a l'embarras du choix :</p>
          <ul>
            <li><strong>Tramway</strong> : Lignes 1, 2, 4, arrêt Gare Saint-Roch ; Ligne 3, arrêt Place Carnot</li>
            <li><strong>Bus</strong> : Lignes 8 et 11, arrêt Henri René</li>
            <li><strong>Train</strong> : TGV et trains régionaux à la gare Saint-Roch</li>
            <li><strong>Bicyclette</strong> : Anneau vélo sur le boulevard de Strasbourg</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="map" class="w-full h-96"></section>

<script>
  function initMap() {
    var latlng = [43.60335, 3.882078];
    var map = L.map("map", {
      closePopupOnClick: false,
      scrollWheelZoom: false,
    }).setView(latlng, 17);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      minZoom: 13,
      maxZoom: 18,
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    }).addTo(map);

    L.marker(latlng)
      .addTo(map)
      .bindPopup(
        '<a href="https://www.google.com/maps/place/{{ global.infos.address }} {{global.infos.zip}} {{global.infos.city}}" target="_blank" class="text-primary"><strong>{{global.site_name}}</strong><br>{{ global.infos.address }}<br>{{global.infos.zip}} {{global.infos.city}}</a>',
        {
          closeButton: false,
          autoClose: false,
          closeOnEscapeKey: false,
        }
      )
      .openPopup();
  }

  if (typeof L !== "undefined") {
    initMap();
  } else {
    var el = window.document.getElementById("leaflet-script");
    el.onload = initMap;
  }
</script>
