<!DOCTYPE html>
<html lang="fr_FR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="canonical" href="{{global.site_origin}}{{page.url}}" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      {% if title %} {{title}} - {{global.site_name}} {% else %} {{global.site_name}} - {{global.site_punchline}}
      {{global.site_mid_punchline}} {{global.site_sub_punchline}} {% endif %}
    </title>
    <meta name="description" content="{{global.site_description | plain}}" />
    <meta
      property="og:title"
      content="{% if title %} {{title}} - {{global.site_name}} {% else %} {{global.site_name}} - {{global.site_punchline}} {{global.site_mid_punchline}} {{global.site_sub_punchline}} {% endif %}"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/coworkin-montpellier.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="{{global.site_name}}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="{{global.site_description | plain}}" />

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/app.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700&family=Playfair+Display:wght@100;200;300;400;500;600;700&family=Overpass:wght@200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""
    />
    <script
      id="leaflet-script"
      src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
      integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
      crossorigin=""
      async
      defer
    ></script>
  </head>
  <body class="font-sans text-gray-700 antialiased bg-white">
    {% if not has_menu %}
    <a href="/">
      <img src="{{ global.logo }}" class="h-48 w-48 rounded-full object-contain object-center mx-auto mt-8" />
    </a>

    {% endif %} {% if has_menu %} {{ content | safe }} {% else %}
    <div class="container mx-auto my-16">
      <div class="flex justify-center">
        <div class="prose">{{ content | safe }}</div>
      </div>
    </div>
    {% endif %} {% include "./partials/footer.html" %}

    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/collect.js/4.18.3/collect.min.js"
      integrity="sha512-LkKpealLJ+RNIuYaXSC+l/0Zf5KjYCpMaUrON9WUC+LG316w3UEImyaUpWMWfqNGC4vLOkxDWEVKQE+Wp0shKg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"
      integrity="sha512-06NZg89vaTNvnFgFTqi/dJKFadQ6FIglD6Yg1HHWAUtVFFoXli9BZL4q4EO1UTKpOfCfW5ws2Z6gw49Swsilsg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.js"></script>
  </body>
</html>
