---
layout: layout
---

<div class="-mt-24 w-full h-screen">
  <div class="relative h-full z-10 text-center py-24 flex flex-col justify-between">
    <div class="mx-auto">
      <a href="/" class="text-white uppercase font-bold text-2xl tracking-widest">
        <!-- logo -->
        {% if settings.logo %}
        <img src="{{ settings.logo }}" class="h-48 w-48 rounded-full object-contain object-center" />
        {% else %} {{ settings.site_name }} {% endif %}
      </a>
    </div>
    <h1
      class="text-white text-center text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-display font-bold"
      style="text-shadow: 0 0 1rem black; line-height: 1.5"
    >
      Le coworking<br />associatif autogéré<br />de Montpellier
    </h1>
    <div class="mx-auto">
      <a
        href="#about"
        class="inline-block bg-primary rounded-full text-white uppercase text-sm tracking-widest font-heading px-8 py-4 mt-24"
      >
        En savoir plus
        <i class="fa fa-arrow-down"></i>
      </a>
    </div>
  </div>

  <img src="{{ home.image }}" class="w-full h-full absolute inset-0 object-cover" />
  <div class="w-full h-full bg-black absolute top-0 left-0 opacity-10"></div>
</div>

<div id="about" class="max-w-xl mx-auto text-center py-24 md:py-24">
  <h2 class="font-display font-bold text-3xl md:text-4xl lg:text-5xl mb-6">Qui sommes-nous ?</h2>
  <div class="w-24 h-2 bg-primary mb-16 mx-auto"></div>
  <p class="font-light text-gray-600 text-lg mb-6 leading-relaxed">{{ home.cta_description }}</p>
</div>

<div id="services" class="relative w-full py-12 px-12 bg-gray-100">
  <div class="text-center">
    <h2 class="font-display font-bold text-3xl md:text-4xl lg:text-5xl mb-6">Services</h2>
    <div class="w-24 h-2 bg-primary mb-8 mx-auto"></div>
    <p class="font-display opacity-75 mb-16 text-base md:text-lg font-bold">
      Tout ce dont vous avez besoin et plus encore
    </p>
  </div>

  <div class="grid grid-cols-3 gap-8 content-center">
    {% for service in home.services %}
    <div class="flex justify-center">
      <div class="w-36 text-center border-2 rounded-lg p-4 bg-white">
        <div class="mb-4">
          <i class="fa-solid fa-{{service.icon}} text-4xl"></i>
        </div>
        <p>{{service.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div id="prices" class="relative w-full py-12 px-12">
  <div class="text-center">
    <h2 class="font-display font-bold text-3xl md:text-4xl lg:text-5xl mb-6">Tarifs</h2>
    <div class="w-24 h-2 bg-primary mb-8 mx-auto"></div>
    <p class="font-display opacity-75 mb-10 text-base md:text-lg font-bold">Un coworking abordable à tous</p>
  </div>

  <div class="columns-2">
    <div class="mx-auto text-center rounded-lg p-4 w-4/5">
      <h3 class="font-display font-bold text-xl mb-6">Besoin occasionnel</h3>

      <table class="min-w-full border-1 mx-auto">
        <tbody>
          <tr>
            <td class="p-4">1/2 journée</td>
            <td class="p-4">Accès 5h</td>
            <td class="p-4">8€</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="p-4">1 journée</td>
            <td class="p-4">Accès 9h</td>
            <td class="p-4">15€</td>
          </tr>
          <tr>
            <td class="p-4">
              Carnet de tickets
              <br />
              <small>(Valable un an)</small>
            </td>
            <td class="p-4">10 × 9h ou <br />20 × 5h</td>
            <td class="p-4">140€</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mx-auto text-center rounded-lg p-4 w-4/5">
      <h3 class="font-display font-bold text-xl mb-6">Besoin régulier</h3>

      <table class="min-w-full border-1 mx-auto">
        <tbody>
          <tr>
            <td class="p-4">Mi-temps</td>
            <td class="p-4">10 jours / mois</td>
            <td class="p-4">115€</td>
          </tr>
          <tr class="bg-gray-100">
            <td class="p-4">3/4-temps</td>
            <td class="p-4">15 jours / mois</td>
            <td class="p-4">155€</td>
          </tr>
          <tr>
            <td class="p-4">Temps plein</td>
            <td class="p-4">Accès illimité</td>
            <td class="p-4">195€</td>
          </tr>
        </tbody>
      </table>
      <p>
        <small>
          <strong>NB:</strong>
          Tous les abonnements sont sans engagements. Possibilité de renouveller ou d'interrompre d'un mois sur
          l'autre.</small
        >
      </p>
    </div>
  </div>
</div>
{% include "./_includes/partials/carousel.html" %}

<div class="relative w-full py-12 px-12">
  <div class="relative z-10 text-center py-12 md:py-12">
    <h1 class="text-white text-center text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-display font-bold mb-6">
      Envie de nous rencontrer ?
    </h1>
    <p class="text-white text-base md:text-lg font-thin">
      Aucune réservation n'est obligatoire. Il y aura toujours de la place pour accueillir des nouvelles personnes.
    </p>
  </div>
  <div class="w-full h-full absolute inset-0 bg-primary"></div>
  <!-- <img src="{{ home.footer_cta_image }}" class="w-full h-full absolute inset-0 object-cover" /> -->
</div>

{% include "./_includes/contact.html" %}
